@import "sass/helpers/variables";

$lang: ar;
$textStart: right;

header {
  .container {
    text-align: $textStart;
  }
}
section.services {
  .row {
    .srv {
      a::after {
        content: "\f100";
      }
    }
  }
}
section.players {
  .row {
    .box {
      a::after {
        content: "\f100";
      }
    }
  }
}
